#main-links > a {
    margin: 10px;
    color: #34495e;
    text-shadow: -1px -1px 0 #ecf0f1, 1px -1px 0 #ecf0f1, -1px 1px 0 #ecf0f1,
        1px 1px 0 #ecf0f1;
}

body {
    padding: 5px;
    background-image: url(https://xbox-store-checker.com/assets/upload/game/2019/02/optimize/9wzdncrfj3tj-background.jpg);
}

#home-background {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: fill;
}
