#title {
    text-align: center;
    color: whitesmoke;
    margin-top: 12%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
