.movie-card:hover {
    box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.2);
}
.img-card {
    width: 210px;
    height: 180px;
    border-radius: 10px 10px 0 0;
}
.text-card {
    padding: 2px 16px;
    color: black;
}

.movie-card {
    background-color: rgba(201, 211, 201, 0.9);
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    transition: 0.6s;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.icon-card {
    width: 200px;
    height: 21px;
}
