.movie-info {
    width: 630px;
    height: 480px;
    margin: 20px;
    background-color: rgba(49, 49, 49, 0.8);
    border-radius: 20px;
    /* position: fixed; */
}
.img-info {
    margin: 10px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.text-info {
    color: aliceblue;
    text-align: center;
    width: 300px;
}
.desc-info {
    color: aliceblue;
    width: 300px;
    float: right;
}
